
// =============================================================================
// Font Face
// =============================================================================


@font-face {
  font-family: 'NotoSansCJKjp-Medium';
  src: url('#{$base-url}fonts/NotoSansCJKjp-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Caveat-Regular';
  src: url('#{$base-url}fonts/Caveat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('#{$base-url}fonts/Poppins-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url('#{$base-url}fonts/Poppins-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'NotoSansCJKjp-Regular';
  src: url('#{$base-url}fonts/NotoSansCJKjp-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansCJKjp-Bold';
  src: url('#{$base-url}fonts/NotoSansCJKjp-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'abel';
  src: url('#{$base-url}fonts/Abel-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

