.block-general {
  &-content {
    .item {
      margin-top: 57px;
      @media (max-width: 415px) {
        margin-top: 24px;
      }
      table {
        tr {
          td {
            background: #E5E5E5;
            border: solid 1px #fff;
            text-align: center;
            vertical-align: middle;
          }
        }
      }
      .download {
        background: #E5E5E5;
        border-radius: 12px;
        padding: 10px 60px;
        display: inline-block;
        margin-top: 30px;
      }
      p {
        img {
          @include Responsive(XS) {
            width: 100%;
            image-rendering: pixelated;
            height: auto;
          }
        }
      }
    }
  }
}
